body {
  background: #fff;
  color: #222;
  font-family: helvetica-neue, helvetica, arial;
  text-rendering: optimizelegibility;
}

h1 {
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
  color: #3366FF;
}

#intro-p {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  color: #3366FF;
  font-weight: bolder;
}

#social {
  height: 150px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 50px;
  display: inline-block;
  margin: 7px 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bolder;
  outline: none;
  position: relative;
  text-decoration: none;
  color: #3366FF;
  border: 3px solid;
  border-color: #3366FF;
}

.codepen:hover,
.twitter:hover,
.github:hover,
.linkedin:hover,
.email:hover {
  background: #3366FF;
  color: #fff;
}


